doctype html
head
    meta(charset='UTF-8')
    title SMART SEARCH
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet' href='assets/css/main.css')
    script.
        var search_tags = {
            'Data Science': ['data model', 'medium', 'scikit learn', 'design', 'regular expression', 'algorithm', 'monitoring', 'predictive coding', 'segmentation', 'hadoop', 'parse', 'nlu', 'apache spark', 'tableau', 'testing', 'diagram', 'docker', 'twitter', 'random forest', 'business', 'dimensionality reduction', 'django', 'decision tree', 'visualization', 'engineering', 'ml', 'time series', 'github', 'jquery', 'software', 'bot', 'mysql', 'mobile', 'data processing', 'marketing', 'artificial intelligence', 'server', 'visual studio', 'segment', 'jupyter notebook', 'deep learning', 'data mining', 'logstash', 'elasticsearch', 'data analysis', 'machine learning', 'data visualization', 'emotion', 'outlier', 'finance', 'swift', 'sentiment analysis', 'numpy', 'electrical engineering', 'cluster analysis', 'library', 'support vector machine', 'object detection', 'oracle', 'eclipse', 'computer science', 'linux', 'git', 'natural language processing', 'deployment', 'bootstrap', 'selenium', 'flask', 'business intelligence', 'computer vision', 'javascript', 'kafka', 'analytics', 'programming language', 'nlp', 'framework', 'plotly', 'data science', 'angular', 'google', 'java', 'accounting', 'security', 'linear regression', 'operating system', 'database', 'kibana', 'support', 'data flow diagram', 'python', 'file format', 'documentation', 'logistic regression', 'feature selection', 'ubuntu', 'data structure', 'ai', 'specification', 'tensorflow'],
            'HR': ['ecommerce', 'computer science', 'java', 'finance', 'deployment', 'collision', 'accounting', 'schedule', 'software', 'certificate', 'engineering', 'database'],
            'Advocate': ['business', 'natural language', 'software', 'release'], 'Arts': ['marketing', 'commerce', 'publishing', 'advertising', 'medium', 'business', 'support', 'tower', 'schedule', 'leaflet', 'software', 'engineering', 'operating system'],
            'Web Designing': ['text editor', 'medium', 'jquery', 'adobe photoshop', 'framework', 'software', 'mysql', 'visual studio code', 'mobile', 'design', 'angular', 'ajax', 'server', 'java', 'advertising', 'visual studio', 'security', 'operating system', 'search engine', 'database', 'sublime text', 'bootstrap', 'documentation', 'user interface', 'javascript', 'business', 'codeigniter', 'web app', 'expert system', 'specification'],
            'Mechanical Engineer': ['marketing', 'mechanical engineering', 'engineering drawing', 'monitoring', 'support', 'material', 'schedule', 'software', 'engineering', 'actuator', 'specification', 'documentation', 'design', 'database'],
            'Sales': ['commerce', 'marketing', 'server', 'support', 'finance', 'business', 'schedule', 'certificate', 'specification'],
            'Health and fitness': ['marketing', 'operating system', 'advertising', 'business', 'customer relationship management', 'data management', 'software', 'certificate', 'mobile', 'karma'],
            'Civil Engineer': ['civil engineering', 'storm', 'monitoring', 'support', 'business', 'testing', 'tower', 'security', 'schedule', 'terminal', 'software', 'certificate', 'engineering', 'specification', 'operating system', 'design', 'material'],
            'Java Developer': ['xcode', 'medium', 'programming language', 'swift', 'jquery', 'android studio', 'framework', 'software', 'jenkins', 'mysql', 'postman', 'functional testing', 'mobile', 'data system', 'web service', 'angular', 'design', 'oracle', 'application server', 'sonarqube', 'ajax', 'eclipse', 'computer science', 'java', 'android', 'server', 'linux', 'mongodb', 'security', 'atom', 'computer engineering', 'visual basic', 'operating system', 'collaboration', 'postgresql', 'spring', 'database', 'middleware', 'support', 'deployment', 'testing', 'hibernate', 'knowledge base', 'sublime text', 'ionic', 'bootstrap', 'documentation', 'javascript', 'web server', 'maven', 'business', 'network security', 'shell', 'scripting language', 'certificate', 'engineering', 'centos', 'workflow'],
            'Business Analyst': ['medium', 'software', 'bot', 'functional testing', 'mobile', 'design', 'application server', 'oracle', 'android', 'computer science', 'java', 'monitoring', 'linux', 'accounting', 'data management', 'business process', 'engineering', 'computer engineering', 'operating system', 'database', 'interaction', 'support', 'testing', 'diagram', 'documentation', 'javascript', 'ubuntu', 'business', 'system integration', 'certificate', 'crystal', 'specification', 'workflow', 'material'],
            'SAP Developer': ['data model', 'specification', 'access control', 'finance', 'shared resource', 'authentication', 'release', 'mobile', 'project management', 'design', 'information model', 'oracle', 'server', 'java', 'monitoring', 'visualization', 'data center', 'computer science', 'data warehouse', 'tower', 'security', 'business process', 'computer engineering', 'database', 'component', 'support', 'testing', 'metadata', 'python', 'file format', 'business intelligence', 'mode', 'handover', 'documentation', 'web server', 'business', 'web app', 'debugging', 'analytics', 'engineering', 'apache tomcat'],
            'Automation Testing': ['specification', 'continuous integration', 'schedule', 'framework', 'software', 'release', 'system testing', 'mysql', 'postman', 'functional testing', 'authentication', 'tracking system', 'design', 'object model', 'web service', 'mobile', 'oracle', 'screen sharing', 'eclipse', 'monitoring', 'java', 'android', 'server', 'unity', 'computer science', 'linux', 'security', 'data acquisition', 'actuator', 'operating system', 'database', 'commerce', 'source code', 'support', 'testing', 'diagram', 'embedded system', 'selenium', 'machine learning', 'python', 'time tracking', 'javascript', 'box', 'robot', 'maven', 'business', 'debugging', 'scripting language', 'relay', 'shell', 'engineering', 'system integration', 'scanner', 'material'],
            'Electrical Engineering': ['specification', 'power control', 'schedule', 'software', 'project management', 'design', 'electrical engineering', 'marketing', 'monitoring', 'actuator', 'component', 'testing', 'diagram', 'documentation', 'business', 'certificate', 'relay', 'engineering', 'microprocessor', 'material'],
            'Operations Manager': ['schedule', 'framework', 'software', 'release', 'tracking system', 'software engineering', 'system testing', 'project management', 'design', 'server', 'monitoring', 'accounting', 'play', 'security', 'business process', 'terminal', 'engineering', 'rotation', 'database', 'commerce', 'component', 'support', 'deployment', 'testing', 'knowledge base', 'help desk', 'ambiguity', 'documentation', 'mode', 'queue', 'business', 'ai', 'certificate', 'specification', 'material'],
            'Python Developer': ['sqlalchemy', 'github', 'framework', 'software', 'sqlite', 'numpy', 'mysql', 'postman', 'data science', 'opencv', 'web service', 'angular', 'design', 'oracle', 'server', 'java', 'computer science', 'monitoring', 'algorithm', 'mongodb', 'fedora', 'computer engineering', 'sorting', 'operating system', 'postgresql', 'database', 'git', 'interaction', 'cloud foundry', 'support', 'deployment', 'testing', 'arduino', 'python', 'flask', 'computer vision', 'front end', 'ubuntu', 'business', 'debugging', 'django', 'rest api', 'engineering', 'tensorflow'],
            'DevOps Engineer': ['medium', 'continuous deployment', 'task management', 'project management', 'design', 'algorithm', 'monitoring', 'ansible', 'data management', 'computer engineering', 'sorting', 'source code', 'component', 'interaction', 'testing', 'hibernate', 'cucumber', 'box', 'laravel', 'business', 'engineering', 'material', 'workload', 'github', 'jquery', 'bitbucket', 'software', 'mysql', 'software engineering', 'mobile', 'marketing', 'server', 'android', 'azure', 'performance metric', 'visual basic', 'collaboration', 'commerce', 'virtual reality', 'machine learning', 'maven', 'encryption', 'finance', 'release', 'web service', 'library', 'oracle', 'application server', 'computer science', 'linux', 'spring', 'git', 'deployment', 'bootstrap', 'selenium', 'javascript', 'multimedia', 'debugging', 'shell', 'analytics', 'apache tomcat', 'programming language', 'continuous integration', 'schedule', 'framework', 'angular', 'ajax', 'java', 'accounting', 'security', 'confluence', 'operating system', 'database', 'support', 'devops', 'asp net', 'python', 'documentation', 'robot', 'ubuntu', 'web server', 'ai', 'cryptography', 'crystal', 'specification', 'workflow'],
            'Network Security Engineer': ['access control', 'medium', 'finance', 'core network', 'schedule', 'routing protocol', 'software', 'authentication', 'design', 'oracle', 'application server', 'server', 'monitoring', 'data center', 'linux', 'accounting', 'realm', 'security', 'operating system', 'router', 'virtualbox', 'network interface', 'support', 'deployment', 'python', 'handover', 'documentation', 'mode', 'ubuntu', 'ethernet', 'network security', 'certificate', 'engineering', 'scanner'],
            'PMO': ['outlier', 'finance', 'schedule', 'software', 'project management', 'design', 'library', 'tower', 'business process', 'collaboration', 'database', 'interaction', 'deployment', 'support', 'diagram', 'back office', 'documentation', 'business administration', 'business', 'information management'],
            'Database': ['data file', 'medium', 'schedule', 'software', 'release', 'authentication', 'deadlock', 'bot', 'mysql', 'user profile', 'data science', 'design', 'marketing', 'oracle', 'vmware vsphere', 'server', 'monitoring', 'computer science', 'java', 'data center', 'linux', 'mongodb', 'segment', 'accounting', 'azure', 'database design', 'security', 'data management', 'data consistency', 'performance monitoring', 'computer engineering', 'linear regression', 'operating system', 'postgresql', 'database', 'component', 'middleware', 'interaction', 'support', 'azure storage', 'testing', 'deployment', 'mariadb', 'machine learning', 'python', 'documentation', 'high availability', 'query optimization', 'web server', 'business', 'file system', 'shell', 'certificate', 'scripting language', 'engineering', 'apache tomcat'],
            'Hadoop': ['specification', 'cassandra', 'data file', 'intellij idea', 'programming language', 'workflow manager', 'github', 'impala', 'hbase', 'framework', 'wireless', 'software', 'release', 'mysql', 'big data', 'data processing', 'design', 'zookeeper', 'jupyter', 'oracle', 'eclipse', 'server', 'algorithm', 'java', 'monitoring', 'linux', 'data warehouse', 'nosql', 'azure', 'security', 'hadoop', 'yarn', 'engineering', 'operating system', 'database', 'router', 'git', 'storm', 'component', 'interaction', 'data quality', 'deployment', 'tableau', 'testing', 'devops', 'support', 'python', 'machine learning', 'file format', 'documentation', 'mode', 'scala', 'javascript', 'relational database', 'query optimization', 'ubuntu', 'distributed file system', 'business', 'random forest', 'network performance', 'domain knowledge', 'data mining', 'file system', 'shell', 'scripting language', 'analytics', 'visualization', 'centos', 'workflow'],
            'ETL Developer': ['workflow manager', 'data modeling', 'schedule', 'framework', 'system testing', 'mysql', 'big data', 'workflow', 'design', 'oracle', 'server', 'monitoring', 'microsoft sql server', 'data warehouse', 'segment', 'security', 'engineering', 'database', 'router', 'component', 'interaction', 'support', 'testing', 'diagram', 'business intelligence', 'back office', 'documentation', 'data extraction', 'business', 'multimedia', 'debugging', 'shell', 'specification', 'system integration', 'data integration'],
            'DotNet Developer': ['programming language', 'jquery', 'schedule', 'framework', 'software', 'visual studio code', 'design', 'angularjs', 'library', 'angular', 'ajax', 'server', 'monitoring', 'computer science', 'visual studio', 'accounting', 'security', 'operating system', 'database', 'git', 'component', 'kendo ui', 'support', 'testing', 'asp net', 'typescript', 'bootstrap', 'customer relationship management', 'documentation', 'javascript', 'relational database', 'front end', 'business', 'content management', 'data access', 'crystal'],
            'Blockchain': ['passenger', 'medium', 'finance', 'jquery', 'framework', 'routing protocol', 'software', 'mysql', 'blockchain', 'data science', 'web service', 'angular', 'marketing', 'oracle', 'server', 'monitoring', 'computer science', 'java', 'mongodb', 'computer engineering', 'operating system', 'postgresql', 'database', 'commerce', 'router', 'deployment', 'raspberry pi', 'hibernate', 'bitcoin', 'fabric', 'react', 'python', 'machine learning', 'ethereum', 'customer relationship management', 'mode', 'javascript', 'computer vision', 'docker', 'front end', 'web server', 'ubuntu', 'business', 'content management', 'django', 'certificate', 'analytics', 'engineering'],
            'Testing': ['software', 'system testing', 'tracking system', 'mysql', 'functional testing', 'mobile', 'design', 'electrical engineering', 'library', 'android', 'java', 'server', 'linux', 'security', 'power management', 'operating system', 'database', 'support', 'testing', 'diagram', 'time constraint', 'selenium', 'documentation', 'debugging', 'relay', 'certificate', 'engineering', 'correctness']
        }
        window.onload = function() {
            var categorySel = document.getElementById("category");
            var skillSel = document.getElementById("skill");
            for (var x in search_tags) {
                categorySel.options[categorySel.options.length] = new Option(x, x);
            }
            categorySel.onchange = function() {
                //empty Chapters- and Topics- dropdowns
                skillSel.length = 1;
                //display correct values
                var skill = search_tags[this.value]
                for (var i=0; i<skill.length; i++) {
                    skillSel.options[skillSel.options.length] = new Option(skill[i], skill[i]);
                }
            }
        }
// Header
#header
    // span class="logo icon fa-user"></span
    a(href='index.html')
        img(src='images/sss.png')
    h1 Welcome ARIN
    p Your search ends here...
// Main
#main
    header.major.container.medium
        form#form1(name='form1' method='get' action='/search')
            select#category(name='category')
                option(value='' selected='selected') Select Category
            br
            br
            select#skill(name='skill')
                option(value='' selected='selected') Please select Category first
            br
            br
            input(type='submit' value='Submit')
            input(type='submit' formaction='/sm_search' value='smartsearch')
    footer.major.container.medium
        // img src="images/isometric.jpg" alt=""
        - var responses = _id.length
        //each candidate in _id
        h4 total candidates with the skill &nbsp
            b !{skill} &nbsp
            | mentioned in the resume are &nbsp
            b !{responses} &nbsp

        h3 resume ids with &nbsp !{skill} &nbsp
        h3
        - for (var i=0; i<_id.length; i++){
        | !{_id[i]} &nbsp

        - }
        //h3 !{_id}

// Footer
#footer
    .container.medium
        ul.icons
            li
                a.icon.brands.fa-twitter(href='#')
                    span.label Twitter
            li
                a.icon.brands.fa-facebook-f(href='#')
                    span.label Facebook
            li
                a.icon.brands.fa-instagram(href='#')
                    span.label Instagram
            li
                a.icon.brands.fa-github(href='#')
                    span.label Github
            li
                a.icon.brands.fa-dribbble(href='#')
                    span.label Dribbble
        ul.copyright
            li &copy; ARIN. All rights reserved.
            li
                | Design:
                a(href='http://html5up.net') HTML5 UP
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')